main{
    padding-top: 70px;
    .my_container{
        padding: 40px 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        min-height: calc(100vh - 170px);
    }
}
